html{
  box-sizing: border-box;
}
*,
*::after,
*::before{
  box-sizing: inherit;
}

a{
  color: inherit;
  text-decoration: none;
}
ul{
  list-style-type: none;
}
body{
    font-family: "Luckiest Guy", cursive;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.1;
}
button{
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}
.container{
 max-width: 1840px;
 padding: 0 10px;
 margin: 0 auto;
}

.header{
  background-image: url(../image/fon_bc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.logo__img {
  
}
 
.menu__btn {
  width: 70px;
  height: 23px;   
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  
}

.menu__btn span {
  background-color: #FF5017;
  width: 100%;
  height: 3px;
  
}
.header__img{
padding-top: 50px;
align-content: center;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title_one{
  font-size: 400px;
    margin: 0 auto;
    
    background: linear-gradient(180deg, #ca0704 0%, #dfc206 100%);
    /*background: linear-gradient(180deg, #d20704 0%, #dfc206 100%);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.title {
  /* GAME */
    font-size: 100px;
    margin: 0 auto;
    background: linear-gradient(180deg, #c52107 0%, #d7ef03 100%);
    /*background: linear-gradient(180deg, #5e05ac 0%, #b0150a 100%);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


/* на прокат */

.sub-title_txt{
  
  font-size: 60px;
  align-self: self-end;
  padding-top: 150px;
  padding-right: 75px;
  background: linear-gradient(90deg, #d81608 0%, #cee005 100%);
  /*background: linear-gradient(90deg, #9c1309 0%, #5e05ac 100%);*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.info{
  background-color: #f8f8f8;
}
.info{
  padding: 170px 0;
}
.info__title {
    text-align: center;
    line-height: .8;
    font-size: 80px;
  }

    .info__content {}

    .info__list {}

  &__galery {}
}